<nav class="navbar navbar-default">
        <nav class="navbar-brand"><%= link_to "There's a Board", new_user_path %></nav>
    <% if current_user %>
    <%= link_to "Logout", logout_path, method: :delete %>
    <%= link_to "Profile", root_path %>
    <%end%>
</nav>
