
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
 	height: 100%;
  background: -webkit-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:    -moz-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:     -ms-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:      -o-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:         linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
  font-family: 'Lato', sans-serif;
 }

title{
  color: #60c5ba;
}
 .navbar-default {
 	background-color: white;
 	border-radius: 0;
 	height: 100px;
 	padding: 25px 0;
  border-bottom: 4px solid black;
 }

 a{
  color: #48948c;
 }


 .form-horizontal{
  width: 50%;
  margin: 0 auto;
 }

 .form-group li{
   list-style-type: none;
   text-align: center;
   margin: 0 auto;
   margin-left: -35px;
 }

 #sign-up-header{
   color: #60c5ba;
   size: 2em;
   padding: 20px;
   text-transform: uppercase;
   margin: 0 auto;
   text-align: center;
   letter-spacing: 1px;
   font-weight: 300;
   width: 200px;
 }

 #appt-listing a{
  color: #48948c;
 }

.navbar-brand a{
  color: #60c5ba;
  font-size: 2.8em;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.btn-warning{
  margin: 10px;
}
 a:hover{
  color: #e78d0c;
 }
