
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
  height: 100%;
  background: -webkit-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:    -moz-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:     -ms-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:      -o-linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
 background:         linear-gradient(90deg, #f4f7f7 10%, #e4e7ec 90%);
  font-family: 'Lato', sans-serif;
 }

title{
  color: #60c5ba;
}
 .navbar-default {
  background-color: white;
  border-radius: 0;
  height: 100px;
  padding: 25px 0;
  border-bottom: 4px solid black;
 }

 a{
  color: #48948c;
 }

 .form-horizontal{
  width: 50%;
  margin: 0 auto;
 }

 .form-group li{
   list-style-type: none;
   text-align: center;
   margin: 0 auto;
   margin-left: -35px;
 }

 #sign-up-header{
   color: #60c5ba;
   size: 2em;
   padding: 20px;
   text-transform: uppercase;
   margin: 0 auto;
   text-align: center;
   letter-spacing: 1px;
   font-weight: 300;
   width: 500px;
 }

 #appt-listing a{
  color: #48948c;
 }

.navbar-brand a{
  color: #60c5ba;
  font-size: 2.8em;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.btn-warning{
  margin: 10px;
}
 a:hover{
  color: #e78d0c;
 }

 #header-welcome{
  color: #60c5ba;
 }

.center-show {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#center-show-name h2{
  position: relative;
  margin: 0 auto;
  text-align: center;
  right: 150px;
}

 ul li{
  list-style-type: none;
 }

 ol li{
  list-style-type: none;
 }

.appt-block{
  background-color: #d7dddd;
  padding: 20px;
  width: 45%;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

span{
  color: #60c5ba;
  font-size: 1.3em;
}

.center-list{
   list-style-type: none;
   text-align: center;
   margin: 0 auto;
   margin-left: -55px;
}

#stats {
  height: 400px;
  float: left;
  width: 250px;
  padding: 10px;
  margin: 20px 0px 0px 40px;
  background-color: #d7dddd;
  border-radius: 10px;
  clear: left;
}

.stat {
  padding: 5px 0px;
}
.stat h3 {
  color: #48948c;
}

#portal {
  float: right;
  margin: 49px 20px 0px 0px;
}

#next_appointment {
  position: relative;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
  list-style-type: none;
}

  #sort-tabs {
    width: 25%;
    height: 5%;
    background-color: #d7dddd;
    padding: 20px 20px 10px 0px;
    border-radius: 0px 0px 30px 30px;
    margin-left: 60%;
    margin-top: -20px;
    margin-bottom: 30px;
    content:" ";
    display:table;
    clear:both;
  }

  #sort-tabs li {
    display: inline-block;
    float: left;
    margin: 0px 10px 10px 10px;
  }

#contact-info {
  height: 170px;
  float: left;
  width: 250px;
  padding: 10px;
  margin: 100px 0px 0px 40px;
  background-color: #d7dddd;
  border-radius: 10px;
}

#review-form{
  padding-top: 50px;
  padding-bottom: 350px;
}


footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

